
.user {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  border: solid 1px #e3e3e3;
  padding: 5px;
  /* text-align: center; */
  margin-bottom: 10px;
}

img {
  max-width: 50px;
  max-height: 100px;
  height: 100%;

  object-fit: contain;
}

.user__avatar {
  width: 20%;
}
.user__info {
  padding: 5px;
  width: 60%;
}

.user__meta {
  width: 20%;
}